/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

:root {
  --lumi-orange: #FF8C00;
  --lumi-orange-dark: #E67E22;
  --lumi-white: #FFFFFF;
  --lumi-gray-bg: #F7F7F7;
  --text-main: #3C3C3C;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: var(--lumi-white);
  color: var(--text-main);
}

/* Botão estilo "Duolingo" Laranja */
.btn-lumi {
  background-color: var(--lumi-orange);
  color: white;
  border: none;
  border-radius: 15px;
  padding: 12px 25px;
  font-weight: 900;
  cursor: pointer;
  border-bottom: 5px solid var(--lumi-orange-dark);
  transition: all 0.1s;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-lumi:active {
  border-bottom-width: 0;
  transform: translateY(5px);
}